.table-action-button {
  border-color: #5bb468;
  color: #42843f;
  font-weight: bold;
  border-radius: 8px;
}

.characters-name-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.1em;
}

.characters-name-image {
  border-radius: 8px;
}

.characters-loading-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: max-content;
}

.character-profile-spacing {
  font-size: 1.2em;
  line-height: 1.8em;
}

.character-profile-spacing .ant-tag {
  font-size: 0.9em;
}

.character-profile-card-col {
  padding-right: 40px;
}
