.episode-primary-pane {
  max-width: 450px;
  min-height: 600px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.episode-secondary-pane {
  height: 100%;
}
.episode-secondary-pane-title {
  text-align: center;
}

.episode-timeline-item {
  padding: 10px;
  border: 2px solid transparent;
  padding-left: 15px;
}

.episode-timeline-item:hover {
  border: 2px solid #4eb0e3;
  border-radius: 20px;
  border-right: 10px solid #4eb0e3;
  cursor: pointer;
}

.episode-timeline-item-selected {
  border: 2px solid #5bb468;
  border-radius: 20px;
}

.selected-episodes-characters {
  max-height: 680px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */
  justify-content: center;
}

.episodes-character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px 20px;
}

.episodes-character-card img {
  border-radius: 10px;
  /* box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5); */
  overflow: hidden;
}

.episodes-character-card-text {
  padding-left: 5px;
  max-width: 120px;
}

::-webkit-scrollbar {
  width: 6px;
  right: 6px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
