.homepage-container {
}
.twitter-container {
  padding: 0 20px;
  width: 540px;
  height: 680px;
  overflow-y: scroll;
}

.secondary-container {
  padding: 20px;
}
.secondary-container-contents {
  width: 400px;
  padding: 0 20px;
}
.home-title {
  text-align: center;
}

.gif-container {
  height: 640px;
  overflow-y: scroll;
}

.gif-wrapper {
  position: "fixed";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}
