.location-table-pagination-wrapper {
  display: flex;
  flex-direction: column;
}

.location-pagination-wrapper {
  margin: 20px auto;
}

.locations-character-images {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin: 5px;
}
